<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DETAILS</h1>
    <h3>NAME: <span>{{data.Name}}</span></h3>
    <h3>EMAIL: </h3><span>{{data.email}}</span>
</body>
</html>